* {
    margin: 0;
}

h1 {
    color: white;
}

a {
    display: inline;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}

.header {
    background-color: rgb(150, 150, 150);
    width: 100%;
    height: 737px;
    position: relative;
}

a {
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
    font-size: 16;
    font-weight: bold;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    width: 1200px;
    height: 737px;
}

.line1 * {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.yellow{
    color: #FFFACF;
}

.line1 {
    display: flex;
    justify-content: space-between;
}

.ru {
    margin-right: 8px;
    text-decoration:underline;
}

.line2 {
    position: absolute;
    width: 1200px;
    height: 1px;
    background-color: white;
}

.line3 {
    display: flex;
    position: relative;
    margin-top: 23px;
    justify-content: space-between;
}

.div3 {
    width: 187px;
    height: 25px;
}

.div4 a{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: normal;
    margin-right: 35px;
}

.div5 a{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: normal;
    margin-right: 30px;
}

.btn1 {
    width: 89px;
    height: 37px;
    border-radius: 60px;
    border: 1px solid #FFFACF;
    background-color: #fffacf00;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: normal;
    color: #FFFACF;
}

.header__title {
    position: relative;
}

.div6 h1{
    display: inline;
    position: relative;
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
}

.div6 {
    margin-top: 121px;
}