* {
    margin: 0;
}

p {
    font-family: "Montserrat";
    font-weight: lighter;
    font-size: 18px;
    margin-right: 19px;
}

h1 {
    color: white;
}

a {
    display: inline;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

.header {
    background-color: rgb(150, 150, 150);
    width: 100%;
    height: 737px;
    position: relative;
}

a {
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
    font-size: 16;
    font-weight: bold;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    width: 1200px;
    height: 737px;
}

.line1 * {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.yellow{
    color: #FFFACF;
}

.line1 {
    display: flex;
    justify-content: space-between;
}

.ru {
    margin-right: 8px;
    text-decoration:underline;
}

.line2 {
    position: absolute;
    width: 1200px;
    height: 1px;
    background-color: white;
}

.line3 {
    display: flex;
    position: relative;
    margin-top: 23px;
    justify-content: space-between;
}

.div3 {
    width: 187px;
    height: 25px;
}

.div4 a{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 100;
    margin-right: 35px;
}

.div5 a{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 100;
    margin-right: 30px;
}

.btn1 {
    width: 89px;
    height: 37px;
    border-radius: 60px;
    border: 1px solid #FFFACF;
    background-color: #fffacf00;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 100;
    color: #FFFACF;
}

.header__title {
    position: relative;
}

.div6 h1{
    display: inline;
    position: relative;
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: bold;
    line-height: 55px;
}

.div6 {
    margin-top: 121px;
}

.div7 p {
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    line-height: normal;
}

.btn2 {
    width: 183px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid #FFFACF;
    background-color: #fffacf00;
    color: #FFFACF;
    font-family: "Montserrat";
    font-weight: 100;
    font-size: 24px;
}

.div8 {
    margin-top: 20px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 737px;
    background-color: rgba(0, 0, 0, 0.500);
}

.btn3 {
    margin-left: 20px;
    width: 143px;
    height: 60px;
    background-color: #fffacf00;
    border-radius: 60px;
    border: 2px solid #FFFFFF;
    font-family: "Montserrat";
    font-weight: 100;
    font-size: 24px;
    color: white;
}

.div9{
    background-color: white;
    width: 387px;
    height: 479px;
    border-radius: 30px;
    margin-right: 20px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.div10{
    background-color: white;
    width: 387px;
    height: 479px;
    border-radius: 30px;
    margin-right: 20px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.div11{
    background-color: white;
    width: 387px;
    height: 479px;
    border-radius: 30px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.header__3blocka{
    position: absolute;
    display: flex;
    margin-top: 100px;
}

.h1__p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 10px;
} 

.p{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
}

.div12 {
    margin-top: 30px;
    margin-left: 30px;
}

.img1 {
    margin-bottom: 20px;
}

.line5 {
    width: 100%;
    height: 1px;
    background-color: black;
}

.container1 {
    margin: 0 auto;
    width: 1200px;
}

.line4{
    margin-top: 548px;
    margin-bottom: 20px;
}

.line4 a{
    margin-top: 548px;
    font-size: 32px;
}

.a1 {
    margin-right: 30px;
    color: black;
}

.a2 {
    color: rgba(0, 0, 0, 0.60);
}

.shop__coffe {
    margin-top: 25px;
    display: flex;
}

.div13 {
    width: 387px;
    height: 479px;
    border-radius: 30px;
    background: #F1F1F1;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
}

.shop__coffe1 {
    display: flex;
    margin-top: 20px;
}

.line7 {
    display: flex;
}

.img2 {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.line7 {
    margin-top: 30px;
    margin-left: 29px;
}

.line8{
    margin-top: 20px;
}

.img3 {
    margin: 0px 22px;
}

.btn5 {
    width: 173px;
    height: 48px;
    border-radius: 60px;
    background: #040404;
    color: white;
    font-size: 20px;
    margin-right: 28px;
    border: none;
}

.line9 {
    display: flex;
    justify-content: space-between;
}

.c1 {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 0px;
    font-size: 24px;
    display: inline;
}

.c2 {
    font-size: 16px;
    display: inline;
}

.line9 {
    margin-top: 2px;
}

.a3 {
    font-family: "Montserrat";
    color: black;
    font-weight: 100;
    margin-left: 11px;
    font-size: 24px;
}

.div14 {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
    align-items: center;
}

.block1 {
    width: 100%;
    background: #040404;
}

.container3 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.c3 {
    color: white;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.60);
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 100;
}

.line10 {
    width: 388px;
}

.svg1 {
    margin-bottom: 23px;
}

.line11 {
    width: 388px;
}

.svg2 {
    margin-bottom: 23px;
}

.svg3 {
    margin-bottom: 23px;
    width: 73px;
    height: 73px;
}

.line12 {
    width: 388px;
} 

.line13 {
    width: 100%;
    height: 1px;
    background-color: white;
}

footer {
    width: 100%;
    height: 248px;
    background: #040404;
}

.container4 {
    width: 1200px;
    height: 248px;
    margin: 0 auto;
}

.logo1 {
    margin-top: 56px;
    width: 187px;
}

.div15 a {
    font-family: "Montserrat";
    font-weight: 100;
    color: rgba(255, 255, 255, 0.60);
}

.cont1 {
    display: flex;
}

.div15 {
    margin-top: 59px;
    margin-right: 62px;
}

.div15 h1{
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.otsp {
    margin-left: 423px;
}

.div15 li {
    margin-bottom: 5px;
}

.line14 {
    color: rgba(255, 255, 255, 0.60);
}

.cont2 {
    display: flex;
}

.cont3 {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}
